---
import clsx from "clsx";
const {
  type = "text",
  name,
  required = false,
  label,
  placeholder,
  error,
  disabled = false,
} = Astro.props;
---

<label class="grid gap-2">
  <span class="pl-2">{label}</span>
  <input
    name={name}
    {required}
    {disabled}
    class={clsx(
      error ? "border-red-500" : "border-white",
      "bg-white border disabled:bg-gray-800 disabled:text-gray-800 text-brand-50 rounded-full px-4 py-2"
    )}
    type={type}
    placeholder={placeholder}
  />
  {
    error && (
      <span class="text-red-400 pl-2 text-sm">
        <strong>Error:</strong> {error}
      </span>
    )
  }
</label>
